<article>
  {% if page.profiles %}
    {% for profile in page.profiles %}
      <hr>
      <div class="main-profile-box">
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}" style="margin-left: 20px; margin-bottom: 10px;">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% include figure.liquid loading="eager" path=profile_image_path class="img-fluid z-depth-1 rounded" alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="profile-content">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
      <div style="clear: both;"></div>
    {% endfor %}
  {% endif %}
</article>